@charset "utf-8";
header, nav, body, footer, aside, article, section, ul, ol, li, dl, dt, dd, form, input, div, span, a, p, img, em, strong, h1, h2, h3{
  margin:0;
  padding:0;
}
header, footer, nav, aside, article, section{
  display:block;
}
html{
  font-size:14px;
}
@media all and (max-width:1024px){
  html{
    font-size:13px;
  }
}
@media all and (max-width:768px){
  html{
    font-size:12.5px;
  }
}
@media all and (max-width:320px){
  html{
    font-size:12px;
  }
}

body, input, select{
  font-size: 1rem;
  color:#222;
  font-family: 'Noto Sans KR', '본고딕', sans-serif;
}
ul, ol{
  list-style-type: none;
}
em, i, address{
  font-style: normal;
}
strong, b{
  font-weight:400;
}
img, fieldset{
  border: 0 none;
}
img, input, select{
  vertical-align: middle;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
a:link, a:visited{
  color:#222;
  text-decoration: none;
}
a:hover, a:active, a:focus{
  color:#222;
  text-decoration: underline;
}