@charset 'utf-8';
@import url(header.css);
@import url(footer.css);
/* -----------join css + sub_container position css ---------------- */

.sub_container{
  width:100%;
  position: relative;
}
.sub_container .sub_header_wrap{
  width: 100%;
  height:200px;
  position: relative;
  left:0;
  top:-36px;
  background: url(../images/bg_sitemap_turn.jpg) no-repeat 0px 20px;
  background-size: cover;
  
}
.sub_container .sub_header_wrap .sub_title{
  text-align: center;
  padding-top: 85px;
  box-sizing: border-box;
  color:#fff;
  font-size: 32px;
  font-weight: 500;
}
.sub_container .sub_content_container{
  width:1240px;
  position: relative;
  margin: 30px auto;
}
.sub_content_container .side_nav_wrap{
  width:280px;
  box-sizing: border-box;
}
.side_nav_wrap .side_nav_title{
  font-size: 28px;
  width:280px;
  background: url(../images/bg_lnb_tit.png) no-repeat 0 bottom;
  padding-bottom:10px;
  margin-top: 20px;
}


.side_nav_wrap .side_nav > li{
  border-bottom: 2px solid #d9d9d9;
  position: relative;
  transition: all 0.2s ease;
}

.side_nav_wrap .side_nav > li > a{
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin:12px 0;
  transition: all 0.3s ease;
  padding-left:5px;
}

.side_nav_wrap .side_nav .side_nav_selected > a{
  color:#ec008c;
}

.side_nav_wrap .side_nav > li:hover > a{
  color:#ec008c;
}


.sub_content_container .sub_content_wrap{
  width:900px;
  margin-left: 59px;
}

.sub_content_wrap .join_all_step{
  display: inline-block;
  width:900px;
  border-bottom: 1px solid #b5aa99;
  box-sizing: border-box;
  text-align: center;
}
.sub_content_wrap .join_all_step > li{
  float:left;
  padding: 0px 70px 30px 70px;
  box-sizing: border-box;
  position:relative;
}

.join_all_step > li::after {
  content: '...';
  position: absolute;
  top:0px;
  left:200px;
  font-size: 40px;
  color:#a7a19a;
}
.join_all_step > li:last-child::after {
  content: '';
}
.join_all_step > li .step_selected .step_img{
  background-color: #000;
}
.join_all_step > li .step_selected .step_text{
  color: #000;
}

.join_all_step > li .step_img{
  text-align: center;
  background-color: #b4b3b3;
  border-radius: 8px;
  width:80px;
  height:80px;
  line-height: 80px;
  font-size: 45px;
  color:#fff;
  margin:0 auto;
}


.join_all_step > li .step_text{
  font-size: 18px;
  color:#b4b3b3;
}
.join_all_step > li .step_text > span:first-child{
  display: block;
}

.sub_content_wrap .member_info_container{
  width:900px;
  position: relative;
  margin: 0 auto;
}
.sub_content_wrap .sub_content_title{
  font-size:24px;
  font-weight: 600;
  margin: 30px 0 15px 0;
  width: 900px;
  overflow: hidden;
}
.sub_content_wrap .sub_content_title .sub_title{
  float:left;
}
.sub_content_wrap .essential_text{
  float:right;
  margin-top:15px;
  font-size: 14px;
}
.sub_content_wrap .essential_text > span{
  color: #ec008c;
  padding: 5px;
}
.sub_content_wrap .member_info_wrap{
  width:900px;
  border-left:none;
  border-right:none;
  margin-bottom: 20px;
}
.sub_content_wrap .member_info_wrap caption{
  width:1px;
  height:1px;
  font-size: 0;
  text-indent: -999px;
}
.sub_content_wrap .member_info_wrap th{
  padding: 40px;
  background-color: #f0f0f0;
  border-left:none;
  font-size:14px;
  
}
.sub_content_wrap .member_info_wrap td{
  border-right:none;
  padding-left: 20px;
  font-size:14px;
  vertical-align: middle;
}
.member_info_wrap > tbody > tr > th > span:after{
  content: '*';
  color:#ec008c;
  padding-left:0px;
}
.member_info_wrap input[type="text"],
.member_info_wrap input[type="password"],
.member_info_wrap select{
  margin:4px 0;
  padding:5px 0;
}
.member_info_wrap input[type="radio"],
.member_info_wrap input[type="checkbox"]{
  margin-left:8px;
}
.member_info_wrap input[type="radio"]:first-child,
.member_info_wrap input[type="checkbox"]:first-child{
  margin-left:0;
}
.form_input_xlarge{
  width: 450px;
}
.form_input_large{
  width: 300px;
}
.form_input_medium{
  width: 200px;
}
.form_input_smedium{
  width: 130px;
}
.form_input_small{
  width: 100px;
}

.member_info_wrap .form_btn{
  background-color: #000;
  color: #fff;
  margin-left:5px;
  padding:5px 5px;
  border-radius: 2px;;
  cursor: pointer;
  transition: all 0.4s ease;
  vertical-align: middle;
}
.member_info_wrap .form_btn:hover{
  border-radius: 6px;
  background-color: #464646;
}

.member_info_wrap .zipcode_search{
  display: inline-block; 
  text-decoration: none;
  padding:5px 5px;
}
.sub_content_wrap .btn_wrap{
  width:900px;
  text-align: center;
  margin:60px 0 80px 0;
}
.sub_content_wrap .btn_wrap #submit_btn{
  width:200px;
  color:#fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #ec008c;
  background-color: #ec008c;
  transition: all 0.5s ease;
}
.sub_content_wrap .btn_wrap #submit_btn:hover{
  border: 3px solid #ec008c;
  background-color: #fff;
  color:#ec008c;
  box-sizing: border-box;
}

/* ----------------notice + subcontent header location + list count + paging------------------- */
.sub_content_wrap .sub_content_header{
  width:900px;
  height:40px;
  position: relative;
  margin-bottom:20px ;
}
.sub_content_header .present_location_wrap{
  position:relative;
  top:8px;
  left:0;
}
.sub_content_header .present_location_wrap > li{
  float: left;
  font-size: 20px;
  padding-right:35px;
}
.present_location_wrap > li > a{
  font-size: 16px;
  color:#b4b3b3;
  text-decoration: none;
}
.present_location_wrap > li > a.go_home_btn{
  display: block;
  width:16px;
  height: 16px;
  background: url(../images/icon_bc_home.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-top:4px;
}
.present_location_wrap > li > a.go_title_btn{
  position:relative;
  display: block;
}
.present_location_wrap > li > a.go_title_btn:before{
  content:'';
  background-image: url(../images/arrow_breadcrumb.png);
  width: 7px;
  height: 10px;
  position: absolute;
  left: -20px;
  top:7px;
}
.present_location_wrap > li > a.go_title_btn:after{
  content:'';
  background-image: url(../images/arrow_breadcrumb.png);
  width: 7px;
  height: 10px;
  position: absolute;
  right: -20px;
  top:7px;
}
.present_location_wrap > li > a.go_item_btn{
  color:#000;
  display: block;
}

.share_print_wrap > a > span{
  background:url(../images/btn_print_g.png) no-repeat ;
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
}

.share_print_wrap .share_btn{
  background-position: 0 0px;
}
.share_print_wrap .share_btn:hover{
  background-position: 0 -58px;
}

.share_print_wrap .print_btn{
  background-position: -58px 0px;
}
.share_print_wrap .print_btn:hover{
  background-position:  -58px -58px;
}


.sub_content_wrap .content_container{
  width: 900px;
  position: relative;
}
.content_container .sub_search_container{
  border: 1px solid #d9d9d9;
  background-color: #f7f8f9;
  padding: 30px 50px;
}

.content_container .sub_search_container .search_label{
  padding-right:20px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}
.content_container .sub_search_container .search_period{
  margin-bottom: 15px;
  line-height: 32px;
  position:relative;

}

.sub_search_container input[type="text"]{
  padding:5px 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}
.sub_search_container select{
  padding:4px 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.search_period .search_period_date{
  margin-right:10px;
  position: relative;
}
.search_period .search_period_date .cal_img{
  width:18px;
  height:17px;
  background: url(../images/icon_inp_cal.png) no-repeat 0 0;
  position: absolute;
  text-indent: -9999px;
}
.search_period_date .cal1{
  top:9px; 
  left:102px;
}
.search_period_date .cal2{
  top:9px; 
  right:10px;
}
.search_period .search_period_date .between{
  padding:0 5px;
}

.search_period_month > span{
  display: inline-block;
  width: 60px;
  height: 32px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.search_period_month > span:hover{
  background-color: #ec008c;
  border-radius: 6px;
}
.search_period_month > span:hover > a{
  color:#fff;
  font-weight: 500;
}
.search_period_month > span > a{
  text-decoration: none;
  color:#727272;
}
.content_container .sub_search_container .search_sort{
  line-height: 32px;
}

.search_sort .form_btn{
  background-color: #000;
  color: #fff;
  padding:6px 20px;
  font-size: 14px;
  vertical-align: middle;

  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease;
}
.search_sort .form_btn:hover{
  border-radius: 6px;
  background-color: #464646;
}

.content_container .count_wrap{
  margin: 30px 0 20px 0;
  font-size: 13px;
  overflow: hidden;
  position: relative;
}
.content_container .count_wrap .total_wrap{
  float: left;
  position: relative;
}

.count_wrap .total_wrap .total_text{
  background: url(../images/icon_board_total.png) no-repeat 0 5px;
  padding-left:15px;
  color:#727272;
}
.total_wrap .total_text > span{
  padding: 0 3px 0 4px;
  color:#000;
}
.content_container .count_wrap .present_page_wrap{
  float:right;
}
.count_wrap .present_page_wrap .present_page_text{
  color:#000;
}
.present_page_wrap .present_page_text > span:first-child{
  color:#ec008c;
}
.present_page_wrap .present_page_text > span:last-child{
  color:#727272;
}
.content_container .news_list{
  width: 900px;
  border-left:none;
  border-right:none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom:50px;
}
.news_list tr{
  height:70px;
  padding:10px;
}
.news_list tr:hover{
  background-color: #f1f2f4;
}
.news_list th{
  border-left:none;
  border-right:none;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  box-sizing: border-box;
  position: relative;
}
.news_list thead tr:hover{
  background-color: #fff;
}
.news_list td{

  border-left:none;
  border-right:none;
  box-sizing: border-box;
  position: relative;
}
.news_list .news_title{
  text-align: left;
  text-decoration: none;
}

.news_list .news_title a{
  text-decoration: none;
}
.news_list .alert_notice{
  background-color: #f7f7f7;
}
.news_list .alert_notice .alert{
  width:45px;
  height:25px;
  background-color: #ec008c;
  color:#fff;
  line-height: 25px;
  margin:0 auto;
  border-radius: 0 5px 0 5px;
  font-size: 14px;
}
.news_list .notice_state{
  display: inline-block;
  text-align: center;
  width:30px;
  height:18px;
  line-height: 18px;
  border: 1px solid #ec008c;
  color: #ec008c;
  margin-right:10px;
  font-size: 12px;
}

.content_container .pages_wrap{
  position: relative;
  width:318px;
  height: 32px;
  margin:0 auto 50px auto;
}
.page_control_1 a{
  float:left;
  text-indent: -9999em;
  display: block;
}

.page_control_2 a{
  float:left;
  text-indent: -9999em;
  display: block;
}
.pages_wrap .pages{
  margin:0 5px;
}
.pages_wrap .pages > li{
  float:left;
  margin-left:3px;
}
.pages_wrap .pages > li:first-child{
  margin-left:0;
}

.page_control_1 > a,
.pages > li > a,
.page_control_2 > a{
  display: block;
  text-decoration: none;
  border: 1px solid #d9d9d9;
  width:32px;
  height:32px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.page_control_1 > a:hover,
.pages > li > a:hover,
.page_control_2 > a:hover{
  border-radius: 6px;
  background-color: #ec008c;
  color:#fff;
}
.pages_wrap .page_selected > a{
  border-radius: 6px;
  background-color: #ec008c;
  color:#fff;
}

.page_control_1 > a,
.page_control_2 > a{
  background: url(../images/paging_arrows.png) no-repeat 0 0;
}
.page_control_1 > a:first-child{
  background-position: 0 0;
}
.page_control_1 > a:last-child{
  background-position: -102px 0;
}
.page_control_2 > a:first-child{
  background-position: -34px 0;
}
.page_control_2 > a:last-child{
  background-position: -68px 0;
}

/* reservation css*/
.side_nav .side_nav_item .side_nav_depth{
  padding:20px 30px;
  background-color: #f1f2f4;
  border-top:2px solid #d9d9d9;
  width:280px;
  box-sizing: border-box;
}

.side_nav_item .side_nav_depth > li{
  position:relative;
  margin-bottom:5px;
  transition: all 0.5s ease;
}
.side_nav_item .side_nav_depth > li:last-child{
  margin-bottom:0;
}
.side_nav_depth > li > a{
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  color:#3a3a3a;
}
.side_nav_depth > li:hover > a{
  padding-left: 10px;
  color:#000;
}
.side_nav_depth > li:before{
  width:0;
  content: '';
  height:2px;
  background-color: #ec008c;
  position: absolute;
  top:10px;
  left:0;
  right:0;
}
.side_nav_depth > li:hover :before{
  width:5px;
  content: '';
  height:2px;
  background-color: #ec008c;
  position: absolute;
  top:10px;
  left:0;
  right:0;
}
.side_nav_selected .side_nav_depth .side_nav_item_selected:before{
  width:5px;
  content: '';
  height:2px;
  background-color: #ec008c;
  position: absolute;
  top:10px;
  left:0;
  right:0;
}
.side_nav_selected .side_nav_depth .side_nav_item_selected > a{
  padding-left: 10px;
  color:#000;
}

.content_container .space_location_list{
  width:900px;
  position:relative;
  margin-bottom:40px;
}
.content_container .space_location_list > li{
  float:left;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin-right:11.95px;
  transition: all 0.3s ease;
}

.space_location_list > li:last-child{
  margin-right: 0;
}
.space_location_list > li > a{
  text-align: center;
  display: block;
  width:100px;
  height: 65px;
  line-height: 65px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.space_location_list > li:hover{
  background-color: #ec008c;
  border-radius: 6px;
}
.space_location_list > li:hover > a{
  color:#fff;
}
.space_location_list .space_location_selected{
  background-color: #ec008c;
  border-radius: 6px;;
}
.space_location_list .space_location_selected > a{
  color:#fff;
}
.sub_search_container .search_space{
  overflow: hidden;
  position: relative;
  width:900px;
  height:70px;
  background:url(../images/box-img02.png) no-repeat 0 0 ;
}

.search_space .search_input_wrap{
  position: absolute;
  top:22px;
  left:152px;
}

.search_space .form_btn{
  background-color: #000;
  color: #fff;
  padding:6px 20px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease;
}
.search_space .form_btn:hover{
  border-radius: 6px;
  background-color: #464646;
}

.content_container .space_container .space_list{
  width:900px;
  overflow: hidden;
  margin-bottom: 30px;
}
.space_container .space_list .space_item{
  float: left;
  width:285px;
  margin:10px 22px 30px 0;
  border-bottom: 1px dotted #d9d9d9;
}
.space_container .space_list .space_item:nth-child(3n){
  margin-right:0;
}
.space_list .space_item .space_item_link{
  text-decoration: none;
}

.space_item .space_img_wrap .space_img{
  width:100%;
  height:190px;
}
.space_list .space_item .space_info_wrap{
  margin: 10px 0 15px 0;
  font-size: 16px;
  border-top: 1px dotted #d9d9d9;
  padding-top:10px;
}
.space_item .space_info_wrap .space_location_info{
  padding: 2px 10px;
  margin-right: 10px;
  
}
.space_item .space_info_wrap .bb{
  background-color: #ec008c;
  color: #fff;
}
.space_item .space_info_wrap .pg{
  background-color: #1889cf;
  color: #fff;
}
.space_item .space_info_wrap .gy{
  background-color: #29417a;
  color: #fff;
}
.space_item .space_info_wrap .gm{
  background-color: #08a574;
  color: #fff;
}
.space_item .space_info_wrap .bc{
  background-color: #c43eec;
  color: #fff;
}
.space_item .space_info_wrap .gg{
  background-color: #f7a01f;
  color: #fff;
}
.space_item .space_info_wrap .kl{
  background-color: #cf2418;
  color: #fff;
}

.space_item .space_info_wrap .reservation_way{
  margin-right:5px;
}
.space_list .space_item .space_detail_list{
  font-size: 14px;
}
.space_item .space_detail_list > li{
  margin-bottom:8px;
}

.space_item .space_detail_list > li > span{
  margin-left:10px;
  color: #727272;
} 
